body {
    background-color: rgb(245, 245, 245);
}
.topBar {
    /* width: 100%; */
    display: flex;
}

.topBar button {
    position: absolute;
    right: 10px;
}

.formLoader {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    min-height: 150px;
}

.formLoader ul {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999999;
    margin: 0;
}

@keyframes preload {
    0% {
        background: rgb(0, 123, 255);
        opacity: 1
    }

    50% {
        background: #fff;
        opacity: 0.5
    }

    100% {
        background: rgb(0, 123, 255);
        opacity: 1
    }
}

.formLoader .formLoading {
    display: block;
    height: 14px;
    margin: 0 auto;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    padding: 0;
}

.formLoader .formLoading li {
    background: #fff;
    opacity: 0.5;
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    border: 1px solid rgb(0, 123, 255);
    line-height: 12px;
    padding: 0;
    position: relative;
    margin: 0 0 0 4px;
    animation: preload 1s infinite;
    top: -50%;
    border-radius: 50%;
}

.formLoader .formLoading li:first-child {
    margin-left: 0
}

.formLoader .formLoading li:nth-child(2) {
    animation-delay: .15s
}

.formLoader .formLoading li:nth-child(3) {
    animation-delay: .3s
}

.formLoader.formLoader-complete {
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s
}

.logout {
    width: 100px;
    height: 40px;
    border-radius: 25px;
    border-color: transparent;
    background-color: rgb(220, 53, 69);
    color: white;
    font-size: 18px;
}

.logout:hover {
    background-color: rgb(156, 37, 49);
    border-color: transparent;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.value {
    font-size: 24px;
    font-weight: bold;
}

.back-button {
    padding: 15px;
}

.New-Task-Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    }
    
    .New-Task-Form input {
        border-radius: 25px;
        border-color: transparent;
        box-shadow: #aaa 0px 0px 3px;
    }
    
    .New-Task-Form select {
        border-radius: 25px;
        border-color: transparent;
        box-shadow: #aaa 0px 0px 3px;
}

.New-Task-Form button {
    border-radius: 25px;
    width: 125px;
}
.TaskCard {
    display: flex;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 3px;
}

.taskDetails {
    font-size: 20px;
    text-align: left;
    padding: 15px;
    /* margin-right: 10vw; */
}

.taskDetails p {
    margin-bottom: 0px;
}

.taskTitle {
    font-size: 28px;
    font-weight: 900;
}

.taskDesc {
    /* font-weight: 900; */
    width: 300px;
    word-wrap: break-word;
}

.taskStatus {
    /* font-weight: 900; */
}

.taskDue {
    font-weight: 600;
}


.optionsButtons {
    margin-left: 10%;
    padding: 15px;
}

.Sort {
    font-size: 20px;
    position: relative;
    left: 100%;
}

.Sort select {
    font-size: 20px;
    border-radius: 15px;
    width: 125px;
}